.ant-design-draggable-modal-resize-handle-inner {
    width: 12px;
    border: 2px solid grey;
    height: 12px;
    position: absolute;
    border-top: 0;
    border-left: 0;
    top: 8px;
    left: 8px;
}

.ant-design-draggable-modal-resize-handle {
    width: 22px;
    cursor: se-resize;
    height: 22px;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
}
